.resources__logo-zone {
    width: 1100px;
    height: 38px;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    align-items: flex-end;
}
=======
}
>>>>>>> 5072ef066c9ece016fb63046cb966129a40bddff
